body {
    font-family: monospace;
     
}

h1 {
    color: rgb(228, 93, 93);
    text-align: center;
    
  }
  
  p {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }

    .button
{
	color: var(--btnFontColor);
  background-color: var(--btnBg);
	width: 170px;
    height: 40px;
    font-family: 'Arial Narrow', bold; 
    font-size: 30px;
}

.button :focus { outline-style: none; }
    
  .light-theme {
    --bg: var(--yellow);
    --fontColor: var(--black);
    --btnFontColor: var(--yellow);
    --btnBg: var(--black);
  }

  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--yellow);
    --btnFontColor: var(--black);
    --btnBg: var(--yellow);
  }


  :root {
    --yellow: #faeba9;
    --white: #ffffff;
    --black: #000000;
  }

  * {
    color: var(--fontColor);
    
  }
  
  body {
      background: var(--bg);
  }
  
  .button2{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 170px;
      height: 40px;
      font-family: 'Arial', bold; 
      font-size: 20px;
      border-radius: 25%;

  }

  .alert {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(228, 93, 93);

  }